* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

.header {
  padding: 29px;
  background-color: #00000080;
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 0px 5px 3px #aaaaaa;
}

.title {
  color: #5def44;
  font-size: calc(20px + (32 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav-btn {
  color: white;

  font-family: "Press Start 2P", cursive;
}

.flex-1 {
  flex: 1;
}

.content {
  overflow: scroll;
}

.footer {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 12px;
  font-family: "Press Start 2P", cursive;
  box-shadow: 0px 0px 5px 3px #aaaaaa;
}

.nav-btn:hover {
  color: #5def44;
}

.article {
  padding: 6px;
  text-align: center;
  margin: 25px;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-direction: column;
  background-color: #04040417;
  box-shadow: 0px 5px 4px -1px #aaaaaa;
}

.headline {
  padding: 30px;
  font-size: calc(9px + (15 - 9) * ((100vw - 300px) / (1600 - 300)));
}

.summary {
  font-size: calc(5px + (10 - 5) * ((100vw - 300px) / (1600 - 300)));
}

.link {
  padding: 6px;
  font-size: calc(15px + (23 - 15) * ((100vw - 300px) / (1600 - 300)));
  margin: 5px;
  color: black;
}

.links {
  display: flex;
  justify-content: center;
  padding: 11px;
}

#articles {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  #articles {
    width: 100%;
  }
}
